* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 20vw;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.del {
 min-width: 7.5vw;
}
button {
    padding: 1vh;
    min-width: 5vw;
    flex-grow: 1;
}

#display {
    padding: 30px;
    border: 2px solid black;
    text-align: right;   
}